/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/
@keyframes arrow {
  from {
    left: -20px;
  }
  to {
    left: -16px;
  }
}

@keyframes new-list-filter-animation {
  0% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(180deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes ideal-filter-animation {
  0% {
    filter: blur(20px) brightness(90%);
  }

  50% {
    filter: blur(0px) brightness(130%);
  }

  100% {
    filter: blur(20px) brightness(90%) blur(0.5px);
  }
}

@keyframes strategy-filter-animation {
  0% {
    filter: opacity(0%);
  }

  50% {
    filter: opacity(100%);
  }

  100% {
    filter: opacity(0%);
  }
}

@keyframes sparks-heart-is-liked-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes heart-is-liked-animation {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.5;
  }
  100% {
    scale: 1;
  }
}
