/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  padding-top: 100px;
  color: var(--main-text-color);
  background:
    repeating-linear-gradient(
      to right,
      var(--background-gradient-line-color),
      var(--background-gradient-line-color) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      var(--background-gradient-line-color),
      var(--background-gradient-line-color) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(
        to bottom,
        var(--background-gradient-from-color),
        var(--background-gradient-to-color)
      )
      fixed;
  min-block-size: 100dvb;
  font-variation-settings:
    "wght" 400,
    "wdth" 100,
    "opsz" 0;
}

.hidden {
  display: none;
}

header,
footer {
  text-align: center;
}

header,
main,
footer {
  width: var(--site-width);
  margin: 0 auto;
}

header {
  margin-bottom: 100px;
  background-color: var(--background-color);
  text-transform: uppercase;
  font-family: var(--second-font-family), sans-serif;
}

p {
  font-weight: var(--card-text-font-weight);
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 27px;
}

p:last-of-type {
  margin-bottom: 25px;
}

h1 {
  margin-top: clamp(7rem, 5.332rem + 7.099vw, 8.438rem);
  line-height: clamp(2.063rem, 1.337rem + 3.086vw, 2.688rem);
  font-size: clamp(0.875rem, 0.2222rem + 2.7778vw, 1.4375rem);
}

.large {
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  line-height: 65px;
}

nav {
  display: flex;
  text-align: left;
  padding-left: 19px;
  margin: 13px auto 13px;
  width: 104px;
}

li {
  margin-bottom: 12px;
}

button {
  font-size: 14px;
  line-height: 14px;
  background-color: transparent;
  border: none;
}

.theme-menu__button {
  padding: 0;
  position: relative;
  text-align: left;
  text-transform: uppercase;
}

.theme-menu__button:hover {
  color: var(--disabled-button-color);
}

.theme-menu__button:disabled {
  color: var(--disabled-button-color);
}

.theme-menu__button:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--disabled-button-color);
  transition: transform 300ms ease;
  transform-origin: left;
  transform: scaleX(0);
}

.theme-menu__button:focus-visible {
  color: var(--disabled-button-color);
  outline: none;
}

.theme-menu__button:focus-visible:after {
  transform: scaleX(1);
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  font-size: 14px;
  left: -20px;
  animation-name: arrow;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 0.5s;
  animation-direction: alternate;
}

.bordered {
  border: 2px solid var(--border-color);
}

.card {
  margin-bottom: 48px;
}

.style-button {
  position: relative;
  height: 38px;
  font-family: var(--second-font-family), sans-serif;
  transition: box-shadow 300ms;
  background-color: var(--background-color);
  color: var(--button-background-color);
}

.style-button:focus-visible {
  box-shadow: 2px 2px 0 var(--main-text-color);
  outline: none;
}

.style-button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  background-color: var(--main-text-color);
  transition: transform 500ms ease-in-out;
  transform-origin: left;
  transform: scaleX(0);
}

.style-button:hover:after {
  transform: scaleX(1);
}

.card__like-button {
  width: 130px;
}

.button__text {
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
}

.card__title {
  padding: 5px 10px 4px;
  font-weight: var(--card-header-font-weight);
  font-size: 18px;
  line-height: 22px;
  background-color: var(--background-color);
}

.card__image-container {
  display: flex;
  position: relative;
  overflow: hidden;
  border-width: 2px 0;
}

.card__text-container {
  background-color: var(--background-color);
  padding: 25px;
}

.card__image {
  width: 100%;
}

.card__label {
  position: absolute;
  text-transform: uppercase;
  z-index: 1;
  top: 25px;
  right: 25px;
  font-size: 14px;
  line-height: 14px;
  color: var(--watermark-color);
  font-family: var(--second-font-family), sans-serif;
  mix-blend-mode: hard-light;
  opacity: 0.5;
}

@supports (-webkit-text-stroke: 1px var(--watermark-stroke-color)) {
  .card__label {
    -webkit-text-stroke: 1px var(--watermark-stroke-color);
    text-shadow: none;
  }
}

.card__buttons {
  display: flex;
  justify-content: end;
}

.new-list-image {
  animation: new-list-filter-animation 4s infinite;
}

.what-if-image {
  filter: sepia(70%);
}

.ideal-image {
  filter: brightness(90%);
  animation: ideal-filter-animation 5s infinite;
}

.who-nearby-image {
  filter: contrast(90%) sepia(50%);
}

.strategy-image {
  animation: strategy-filter-animation 4s infinite;
}

.lower-hands-image {
  filter: grayscale(80%);
}

.im-here-image {
  filter: saturate(140%) sepia(20%);
}

.like-icon .core {
  fill: var(--background-color);
  transition: 300ms linear 30ms;
}

.like-icon:hover .core {
  fill: var(--contour-heart-color);
  transition-delay: 0ms;
}

.like-icon .main-body {
  fill: var(--background-color);
  transition: 300ms linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-heart-color);
  transition-delay: 50ms;
}

.like-icon:active .core,
.like-icon:active .main-body {
  fill: var(--main-heart-color);
}

.like-icon.is-liked .core,
.like-icon.is-liked .main-body,
.like-icon.is-liked .contour {
  fill: var(--main-heart-color);
}

.like-icon.is-liked .core {
  transition-delay: 0ms;
}

.like-icon.is-liked .main-body {
  transition-delay: 30ms;
}

.like-icon.is-liked .contour {
  transition: 300ms linear 60ms;
}

.like-icon.is-liked .sparks {
  animation: sparks-heart-is-liked-animation 300ms ease-in;
  animation-delay: 300ms;
}

.like-icon.is-liked .heart {
  animation: heart-is-liked-animation 300ms ease-in;
  animation-delay: 100ms;
  transform-origin: center center;
}

.sparks {
  opacity: 0;
}

footer {
  display: flex;
  justify-content: center;
  margin-bottom: 103px;
}

dialog {
  text-align: left;
  background-color: var(--background-color);
  width: clamp(21.313rem, 20.442rem + 3.704vw, 22.063rem);
  padding: 30px clamp(1.875rem, 3.495rem + -3.704vw, 2.625rem);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.75);
}

.dialog-open-button {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  gap: 9px;
}

.form-style {
  display: flex;
  flex-direction: column;
  color: var(--main-text-color);
  background-color: var(--background-color);
  font-family: var(--second-font-family), sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  gap: 29px;
}

.form-floppy {
  flex-shrink: 0;
}

.floppy {
  width: 28px;
  height: 28px;
}

.modal-flex-box {
  gap: 18px;
  display: flex;
  align-items: center;
}

@media screen and (width <= 375px) {
  .dialog-open-button {
    flex-direction: column;
  }
}
