/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font-family: Inter-Variable;
  --second-font-family: PressStart2P-Regular;
  --card-header-font-weight: 700;
  --card-text-font-weight: 400;
  --site-width: 1440;
  --main-text-color: #000000;
  --watermark-color: rgba(0, 0, 0);
  --watermark-stroke-color: var(--background-color);
  --background-color: #ffffff;
  --disabled-button-color: rgba(0, 0, 0, 0.6);
  --background-gradient-line-color: #d3d3d3;
  --background-gradient-from-color: #e7e7e7;
  --background-gradient-to-color: #1a1a1a;
  --border-color: var(--main-text-color);
  --button-background-color: #ffffff;
  --contour-heart-color: var(--main-text-color);
  --main-heart-color: #ff0000;
  --color-backdrop: rgba(0, 0, 0, 0.75);
}
